*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-image:linear-gradient(to bottom,#0a2345, #010003) ;
    background-repeat: no-repeat;
}
.container{
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}
.section_title{
    color: #fff;
    font-size: 48px;
    font-weight: 400;
}
.section_title span{
    color: #2a5da3;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* HEADER */
header{
    text-align: center;
}
header .row{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px;
}

/* HERO */
.hero .container{
    text-align: center;
    padding-bottom: 150px;
}
.hero .section_title{
    padding: 110px 0 30px 0;
}
.hero .section_title span{
    color: #2a5da3;
}
.hero .hero_description{
    padding-bottom: 75px;
    color: #2e66b2;
}
.hero .show_more{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 70px;
    color: #fff;
    border-radius: 38px;
    background-color: rgba(46,102,178,0);
    border: 2px solid #153b6d;
    padding: 20px 30px 15px 30px;
    
}
.hero .hero_images{
    background-image: url(images/hero_bg.png);
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
}
.hero .hero_images .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero .hero_images .container img{

    filter: drop-shadow(0 0 50px #051a37);
}
.hero .hero_images img:first-child ,
.hero .hero_images img:last-child {
    width: 100%;
    max-width: 320px;    
}
.hero .hero_images .big{
    width: 100%;
    max-width: 371px;
}

/* TEMPLATE */
.template{
    margin: 110px 0 130px 0;
    background-image: url(images/Headphones.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50%;
}
.template .container{
    display: flex;
    justify-content: flex-end;
}
.template .row{
    width: 50%;
}
.template .section_title{
    padding: 120px 0 56px 0;
}
.template .section_title span{
    color: #2a5da3;
}
.template .template_description{
    color: #66778e;
    padding-bottom: 45px;
}
.template .show_more{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 70px;
    color: #fff;
    border-radius: 38px;
    background-color: rgba(46,102,178,0);
    border: 2px solid #153b6d;
    padding: 20px 30px 15px 30px;
}


/* FEATURES */
.features .section_title{
    text-align: center;
    padding-bottom: 0px;
}
.features .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 80px 0;
    padding: 160px 0 290px;

    background-image: url(images/feature_bg.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: auto;
}
.features .row .feature_item{
    width: 34%;
}
.features .row .feature_item .item_title{
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    padding: 24px 0 19px 0;
}
.features .row .feature_item .item_description{
    font-size: 14px;
    line-height: 36px;
    color: #66778e;
}

/* ADVANTAGE */
.advantage{
    background-image: url(images/advantage_bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50%;
    padding: 0 0 370px 0 ;
}

.advantage .advantage_row{
    width: 48%;
}
.advantage .advantage_row .item_title{
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    color: #fff;
    padding: 24px 0 19px 0px;
}
.advantage .advantage_row .item_description{
    font-size: 14px;
    line-height: 36px;
    color: #66778e;
}

/* COMMENTS */
.comments{
    position: relative;
    background-image: url(images/comment_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 180px 0 135px 0;
}
.comments::after{
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.251;
    background-color: #0a2345;
    z-index: 0;
}
.comments .swiper .swiper-slide{
    display: flex;
    flex-direction: column;
}
.comments .swiper .swiper-slide .commentary{
    width: 50%;
}
.comments .swiper .swiper-slide .person{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
    padding: 70px 0 110px 0;
}
.comments .swiper-slide .person .person_image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 17px;
}
.comments .swiper-slide .person .user_name{
    color: #66778e;
}
.comments .swiper-slide .person .profession{
    color: #213a61;
}

/* DOWNLOAD */
.download{
    padding: 140px 0 130px 0;
}
.download .container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download .container .section_title{
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    color: #fff;
    padding:0 0 55px 0 ;
}
.download .container .download_description{
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    color: #66778e;
    width: 47%;
    margin: 0 auto;
}
.download .container .images{
    display: flex;
    align-items: center;   
    padding: 115px 0 104px 0; 
}
.download .container .images img{
    filter: drop-shadow(0 0 125px rgba(0,0,0,0.55));
}
.download .container img:first-child{
    opacity: 0.600;
    filter: drop-shadow(0 0 60px #051a37);
    margin-right: -20px;
}
.download .container img:last-child{
    opacity: 0.600;
    filter: drop-shadow(0 0 60px #051a37);
    margin-left: -20px ;
}
.download .container .download_app{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 0;
    color: #fff;
    border-radius: 38px;
    background-color: rgba(46,102,178,0);
    border: 2px solid #153b6d;
    padding: 20px 30px;
}

/* FOOTER */
footer .container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 90px;
    border-top: 2px solid #153b6d;
    align-items: center;
}
footer .container .footer_links{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 0 20px;
    width: 50%;
}
footer .container .footer_links a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 0;
    color: #14396a;
}
footer .container .copyright{
    font-size: 14px;
    font-weight: 400;
    color: #14396a;
    line-height: 0;
}



/* MEDIA */
@media (max-width: 1150px){
    .hero .hero_images img:first-child ,
    .hero .hero_images img:last-child {
        width: 277px;
        height: 530px;
    }
    .hero .hero_images .big{
        width: 321px;
        height: 610px;
    }
    .features .row{
        background-size: 70%;
        padding: 150px 0 150px;
    }
    .advantage {
        padding-bottom: 100px;
    }
    .download .container img:first-child,
    .download .container img:last-child{
        width: 217px;
        height: 424px;
    }
    .download .container .big{
        width: 314px;
        height: 620px;
    }
}
@media (max-width: 900px){
    header .row {
        padding: 40px 0;
    }
    .hero .section_title {
        padding: 70px 0 30px 0;
    }
    .hero .hero_images .container img {
        filter: drop-shadow(0 0 30px #051a37);
    }
    .hero .container {
        padding-bottom: 70px;
    }
    .hero .hero_images img:first-child ,
    .hero .hero_images img:last-child {
        width: 227px;
        height: 480px;
    }
    .hero .hero_images .big{
        width: 271px;
        height: 560px;
    }
    .template {
        margin: 30px 0 100px 0;
    }
    .template .section_title {
        padding: 56px 0 56px 0;
        font-size: 40px;
    }
    .features .row .feature_item .item_description {
        line-height: 20px;
    }
    .advantage .advantage_row .item_description {
        line-height: 24px;
    }
    .comments {
        padding: 80px 0;
    }
    .comments .swiper .swiper-slide .commentary {
        width: 80%;
    }
    .download {
        padding: 80px 0 80px 0;
    }
}
@media (max-width: 800px){
    .hero .section_title {
        padding: 40px 0 25px 0;
        font-size: 38px;
    }
    .hero .hero_images .container img {
        filter: drop-shadow(0 0 30px #051a37);
    }
    .hero .hero_images img:first-child ,
    .hero .hero_images img:last-child {
        width: 177px;
        height: 360px;
    }
    .hero .hero_images .big{
        width: 231px;
        height: 440px;
    }
    .template {
        margin: 80px 0;
    }
    .template .row {
        width: 60%;
    }
    .template .section_title {
        font-size: 36px;
        
    }
    .features .section_title{
        font-size: 36px;
    }
    .features .row {
        padding: 50px 0;
    }
    .comments .swiper .swiper-slide .person{
        padding: 20px 0 80px 0;
    }
    .download .container img:first-child,
    .download .container img:last-child{
        width: 167px;
        height: 364px;
    }
    .download .container .big{
        width: 264px;
        height: 500px;
    }
    .download .container .download_description{
        line-height: 26px;
    }
    .download .container .images{
        padding: 80px 0;
    }
    footer .container .footer_links{
        gap: 14px;
    }
    footer .container{
        flex-direction: column;
        gap: 20px;
    }
    footer .container .footer_links{
        flex-direction: column;
        gap: 14px;
    }
    
}
@media (max-width: 600px){
    .hero .show_more {
        margin-bottom: 60px;
    }
    .hero .hero_images .container{
        padding-bottom: 0;
    }
    .hero .hero_images .container img {
        filter: drop-shadow(0 0 10px #051a37);
    }
    .hero .hero_images img:first-child ,
    .hero .hero_images img:last-child {
        width: 120px;
        height: 240px;
    }
    .hero .hero_images .big{        
        width: 151px;
        height: 330px;
    }
    .template {
        margin: 50px 0;
    }
    .template .section_title {
        font-size: 34px;
        padding: 20px 0 30px 0;
    }
    .template .template_description{
        font-size: 16px;
    }
    .features .section_title{
        font-size: 34px;
    }
    .features .row {
        padding: 50px 0;
    } 
    .advantage {
        padding-bottom: 60px;
    }   
    .comments {
        padding: 30px 0;
    }
    .download .container img:first-child,
    .download .container img:last-child{
        width: 117px;
        height: 304px;
    }
    .download .container .big{
        width: 214px;
        height: 410px;
    }
    .download .container .section_title{
        padding-bottom: 15px;
    }
    .download .container .images {
        padding: 30px 0;
    }
    .download {
        padding: 40px 0 40px 0;
    }
    footer .container {
        padding: 40px 0;
    }
    footer .container .footer_links{
        gap: 5px;
    }
}
@media (max-width: 570px){
    header .row {
        padding: 15px 0;

    }
    header .row .header_hamburger{
        text-align: right;
    }
    header .row .header_hamburger img{
        width: 60%;
    }
    header .row .header_logo img{
        width: 150px;
    }

    .hero .section_title {
        padding: 25px 0 25px 0;
        font-size: 26px;
    }
    .hero .hero_description {
        font-size: 14px;
        padding-bottom: 40px;
    }
    .hero .container {
        padding-bottom: 50px;
    }
    .hero .hero_images img:first-child ,
    .hero .hero_images img:last-child {
        width: 110px;
        height: 180px;
    }
    .hero .hero_images .big{        
        width: 130px;
        height: 250px;
    }
    .template .section_title {
        font-size: 23px;
    }
    .template .template_description {
        font-size: 14px;
        padding-bottom: 30px;
    }
    .template .row{
        width: 100%;
        text-align: center;
    }
    .features .section_title {
        font-size: 26px;
    }
    .features .row img{
        width: 8%;
    }
    .features .row{
        flex-wrap: wrap;
        padding-top: 400px;
        background-position: top;
        gap: 30px;
        padding-bottom: 0;
    }
    .features .row .feature_item{
        width: 100%;
    }
    .features .row .feature_item .item_title{
        padding: 5px 0 10px 0;
    }
    .advantage{
        background: none;
        padding-top: 40px;
    }
    .advantage .advantage_row{
        width: 100%;
    }
    .advantage .advantage_row img{
        width: 8%;
    }
    .advantage .advantage_row .item_title {
        font-size: 26px;
        padding: 5px 0 15px 0px;
    }
    .comments .swiper .swiper-slide .commentary {
        width: 90%;
    }
    .comments .swiper .swiper-slide .person {
        padding: 10px 0 50px 0;
    }
    .download .container img:first-child,
    .download .container img:last-child{
        width: 90px;
        height: 190px;
    }
    .download .container .big{
        width: 190px;
        height: 300px;
    }
    .download .container .section_title {
        font-size: 25px;
    }
    .download .container .download_description {
        font-size: 12px;
        width: 100%;
        line-height: 20px;
    }
}
